#library
{
    margin-left: 500px;
    margin-top: 50px;
    color:blue;
    font-size: 50px;
}

#admin{
    margin-left: 70px;
    color: lightseagreen;
}


#form{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 12px;  
    margin: 100px auto;  
    background: white; 
    height: 250px; 
   
}  
#btn{  
    color: #fff;  
    background: lightskyblue;  
    padding: 7px;  
    margin-left:150px;  
    color: black;
}  
.btn{  
    color: #fff;  
    background: lightskyblue;  
    padding: 7px;  
    color: black;
     
} 
#user
{
    margin-left: 15px;
    border-radius: 12px; 
    height: 25px;
    width: 218px;
}
#pass
{
    margin-left: 15px;
    height: 25px;
    border-radius: 12px; 
    width: 220px;
}
#user{
    margin-left: 22px;
}
#passw{
    margin-left: 27px;
    
}
.password{
    margin-top: 20px;
}
.buttons{
    margin-top: 30px;
}
.form-group
{
    width: 50px;
}

.details{
    margin-left: 600px;
    color: blue;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: white;
}